<div id="newArticle" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Article</h4>
        </div>
        <div class="modal-body row">

        <div class="col col-md-6">
          <form method="post" action="/newArticle/return">
            <input id="newArticleTitle" class="form-control" name="title" type="text" placeholder="Title" />
            <input class="form-control" name="image" type="url" placeholder="Image Link" />
            <textarea id="newArticleTextArea" class="form-control" rows="20" type="text" name="text"></textarea>
            <input type="submit" class="btn btn-success" value="Submit">
          </form>
        </div>

        <div class="col col-md-6" id="preview">
            
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
