<!DOCTYPE html>
<html lang="en">
  <head>
    
	<% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/nav %>
    <div class="container">
      <div class="row">
        <div class="col col-md-8 article">

          <h1 id="title"><%= article.title %></h1>
          <h4 id="log-subtitle"><%= article.subtitle %></h4>
          <img class="article-image" src="<%= article.image %>" />
          <p><%= article.text %></p>         
          <h5 id="log-end">/* end article */</h5>

        </div>
      </div>
    </div>

  </body>
</html>