<!DOCTYPE html>
<html lang="en">
  <head>
    
	<% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/nav %>

    <div>
      <h1><%= article.title %></h1>
      <h2><%= article.subtitle %></h2>
      <img />
      <%= article.text %>
    </div>

  </body>
</html>