<!DOCTYPE html>
<html lang="en">
  <head>
    
	<% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/nav %>
    <div class="container">
      <div class="row">
        <div class="col col-md-8">

          <div>
            <h1><%= article.title %></h1>
            <h5 id="log-subtitle"><%= article.subtitle %></h5>
            <img />
            <%= article.text %>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>