<!DOCTYPE html>
<html lang="en">
  <head>
    
	<% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/nav %>

    <div class="container">
            
    <h1 id="author-name"><%= author.username %></h1>
      
      <div class="row">
        <div class="col-md-8">

          <% for(var i = articles.length-1; i >= 0; i--) { %>

          <% include ./partials/article-preview %>

          <% } %>

        </div>
      </div>

    </body>
