<!DOCTYPE html>
<html lang="en">
  <head>
    
	<% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/nav %>

    <div class="container">
      
      <div class="row">
        <div class="col col-md-8">

        <% for(var i = articles.length-1; i >= 0; i--) { %>
        <a id="article_preview" href="/article/<%= articles[i]._id %>">
          <h1 id="title"><%= articles[i].title %></h1>
          <h4 id="log-subtitle"><%= articles[i].subtitle %></h4>
          <img class="article-image" src="<%= articles[i].image %>" />
        </a>
        <% } %>

        </div>
      </div>

    </div><!-- /.container -->

  </body>
</html>