<!DOCTYPE html>
<html lang="en">
  <head>
    
	<% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/nav %>

    <div class="container">

      <div class="starter-template">
        <% if (!user) { %>
			<p>Welcome!</p>
		<% } else { %>
			<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
		<% } %>
      </div>
      <div>
        <% for(var i = articles.length-1; i >= 0; i--) { %>
          <a href="/article/<%= article[i]._id %>">
            <h1><%= article[i].title %></h1>
            <h2><%= article[i].subtitle %></h2>
          </a>
        <% } %>
      </div>

    </div><!-- /.container -->

  </body>
</html>