body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.modal {
  margin: auto;
}
textarea[class=form-control] {
  resize: none;
}
/* index preview style */
a #article_preview {
  font-weight: normal;
  text-decoration: none;
  color: #333;
  font-family: 'Cutive Mono', monospace;
}
#link_preview:hover, #link_preview:focus {
  text-decoration: none;
}
#log-subtitle{  
  padding-left: 2rem;
  font-style: italic;
}
#title{
  font-weight: 700;
}
/* // index preview style */

/* article style */
#log-end{
  text-align: center;
  color: #888;
  font-size: 16px;
}