body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.modal {
  margin: auto;
}
textarea[class=form-control] {
  resize: none;
}
/* index preview style */
#article_preview {
  display: block;
  font-weight: normal;
  text-decoration: none;
  color: #333;
  font-family: 'Cutive Mono', monospace;
  margin-bottom: 75px;
}
#article_preview:hover, #article_preview:focus {
  text-decoration: none;
}
#log-subtitle{  
  padding-left: 2rem;
  font-style: italic;
}
#title{
  font-weight: 700;
}
.preview_image {
  width: 100%;
  max-height: 10%;
  object-fit: cover;
}
/* // index preview style */

/* article style */
#log-end{
  text-align: center;
  color: #888;
  font-size: 16px;
}