:root {
  --primeColor: #f1c40f;
}
body {
  padding-top: 50px;
  background: #f2f2f2;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* logo style */
.navbar-inverse .navbar-brand:focus #logo-blog, .navbar-inverse .navbar-brand:hover #logo-blog {
  color: var(--primeColor);
}
.navbar-inverse .navbar-brand:focus #logo-blog, .navbar-inverse .navbar-brand:hover #logo-it {
  color: #333;
}
#logo-it {
  font-weight: 900;
}
/*  */
.navbar-inverse {
  background: inherit;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  padding: 15px 0;
  margin: 0 10px;
  color: #333;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #333;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 0 var(--primeColor);
}
.modal {
  margin: auto;
}
textarea[class=form-control] {
  resize: none;
}
/* index preview style */
#article_preview {
  color: #333;
}
#article_preview:hover, #article_preview:focus {
  text-decoration: none;
}
#title{
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 25px;
}
/* // index preview style */

/* article style */
#log-end{
  text-align: center;
  color: #888;
  font-size: 14px;
  margin-top: 50px;
}
.article {
  padding: 10px;
  margin-bottom: 10px;
}
.article-preview {
  border: 1px solid #e5e5e5;
}
.article-image {
  width: 100%;
  object-fit: cover;
}
#article-image-full {  
  max-height: 60vh;
}
.article-image-preview {
  max-height: 30vh;
}
#article-text {
  margin-top: 35px;
  padding: 0 10%;
  font-size: 16px;
}
#article-info {
  margin-bottom: 20px;
  font-size: 13px;
}
#article-info a {
  color: #333;
}
#comments-title {
  font-family: 'Montserrat', sans-serif;
}
.new-comment {
  margin: 10px; 
}